@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-mulish);

  --color-primary-light: #3daa8a;
  --color-primary: #278d6d;
  --color-primary-dark: #1a6b54;

  --color-secondary: #a45d5d;
  --color-accent: #3e2c24;
  --color-background: #f7f7f7;
  --color-foreground: #333333;
}